@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: var(--font-montserrat), sans-serif;
  --bg-color: #093545;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  background-color: var(--bg-color);
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout-background {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.layout-background::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 111px;
  background-image: url("/wave.png");
  background-repeat: no-repeat;
  background-size: cover;
}
